.headline {
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.9rem;
    text-align:center;
    @mixin atSmall {
        font-size: 2.8125rem;
    }
    &--thin {
        font-weight: 100;
    }
    &--orange {
        color: $mainOrange;
    }
    &--small {
        font-size: 1.2rem;
        @mixin atSmall {
            font-size: 1.875rem;
        }
    }
    &--narrow {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    &--left {
        text-align: left;
    }
    strong {
        font-weight: 400;
    }
    &--b-margin-small {
        margin-bottom: .5em;
    }
    &--b-margin-large {
        margin-bottom: 1.6em;
    }
}