.page-section {
    padding: 1.2rem 0;

    @mixin atMedium {
        padding: 4.3rem 0;
    }

    &--blue {
        background-color: $mainBlue;
        color: $white;
    }

    &--no-b-padding-until-medium {
        padding-bottom: 0;
        @mixin atMedium {
            padding-bottom: 4.3rem;
        }
    }

    &--no-b-padding-until-large {
        padding-bottom: 0;
        @mixin atLarge {
            padding-bottom: 4.3rem;
        }
    }

    &--testimonials {
        background-color: $lightBlue;
        @mixin atLarge {
            background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
            background-size: cover;
        }
    }
}