.testimonial {
    background-color: rgba(255, 255, 255, .8);
    height: 100%;
    padding: 0 18px 1px 18px;/*1px bottom padding to allow contained elements bottom margin to be displayed*/
    margin-bottom: 98px;

    @mixin atLarge {
        padding: 0 1.8125rem 1px 1.8125rem;
        margin-bottom: 0;
    }

    &--no-b-margin {
        margin-bottom: 0;
    }

    &__photo {
        border-radius: 80px;
        overflow: hidden;
        width: 160px;
        height: 160px;
        margin: 0 auto -80px auto;
        transform: translateY(-80px);
        border: 6px solid rgba(255, 255, 255, .8);
    }

    &__title {
        color: $mainBlue;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        margin:0;
    }

    &__subtitle {
        color: $mainOrange;
        text-align: center;
        font-weight: 500;
        font-size: 0.9375rem;
        margin: .25rem 0 1rem 0;
    }
}