.wrapper {
    padding: 0 18px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &--medium {
        max-width: 976px;
    }

    &--b-margin-bottom {
        margin-bottom: 1rem;
        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
    }

    .wrapper {
        padding: 0;
    }
}