.wrapper {
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 18px;

    &--no-padding-until-medium {
        padding: 0;
        @mixin atMedium {
            padding: 0 18px;
        }
    }

    &--medium {
        max-width: 976px;
    }

    &--b-margin-bottom {
        margin-bottom: 1rem;

        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
    }

    .wrapper {
        padding: 0;
    }
}